.button {
  all: unset;

  cursor: pointer;

  display: flex;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  color: inherit;

  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  background-color: var(--color-primary-500);

  &:hover {
    background-color: var(--color-primary-300);
  }

  &:active {
    background-color: var(--color-primary-700);
  }

  & .disabled {
    background-color: var(--color-primary-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  & .disabled {
    background-color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}
